.special {
  margin-top: 2rem;
}

.special section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.special .option {
  align-self: flex-end;
  padding: .3rem 1rem;
  font-size: 1rem;
  color: #66BFBF;
  border-radius: 4px;
  background-color: rgb(102, 191, 191, 0.3);
}