.specialListItem {
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #EAF6F6;
  min-width: 200px;
  min-height: 270px;
}

.specialListItem:hover {
  background: linear-gradient(147.38deg, #66BFBF 0%, #55ACEE 100%);
  cursor: pointer;
}

.specialListItem:last-child {
  margin-right: 0;
}

.specialListItem .icon-container {
  align-self: center;
  display: flex;
  align-items: center;
  background-color: #EAF6F6;
  border: 15px solid white;
  border-radius: 50%;
}

.specialListItem h3 {
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

.specialListItem p {
  margin-top: .875rem;
  display: flex;
  align-items: center;
}

.specialListItem p img {
  margin-right: .5rem;
}

.specialListItem .side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specialListItem .side-by-side:last-child {
  margin-top: 2rem;
}

.specialListItem .side-by-side:last-child p {
  margin: 0;
}

.specialListItem button {
  padding: 0 .3rem;
  color: #66BFBF;
  border: 1px solid #66BFBF;
  border-radius: 3px;
  font-size: 0.875rem;
}

.specialListItem:hover button {
  color: rgb(54,54,54,1);
  border: 1px solid rgb(54,54,54,1);
}