.Header {
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .logo {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.5rem;
}

.Header .logo span:last-child {
  color: #F76B8A;
  font-weight: 700;
}