.home h1 {
  margin-bottom: 1rem;
  font-weight: 800;
}

.home p {
  font-size: 0.875rem;
}

.home .bluetext {
  color: #66BFBF;
}

.home .pinktext {
  color: #F76B8A;
}

@media only screen and (min-width: 1024px) {
  .home {
    padding: 0 10rem;
  }
}